/* contents

    1. Nav
    2. contents
    3. recipes
    4. banner







*/


/* Nav */
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #3372c5;
}
nav a:visited{
    color: #3372c5
}
nav a:hover{
    color: #072550;
    /* background-color: #114d9c; */
    
}
/* non homepage nav */
/* .recipepages nav ul li{
    display: inline;
    
} */

/* contents */
.contents ul{
    list-style-type: none;
}
.contents a{
    text-decoration: none;
    color: #331b6d;
}
.contents a:visited{
    color: #331b6d;
}

/* recipes */

.recipes span{
white-space: pre-line;
}

/* banner */
.bannerimage{
    position: center;
    height: 400px;
    
    background-image: url(../images/Websiteheader.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  /* header */
  header{
    position: relative;
    text-align: left;

  }
  header h1{
    position: absolute;
    font-size: 350%;
    text-align: left center;
    left: 8%;
    top: 13%;
  }
